<% var user_id, user_data, message, vhf1, vhf2 %>

<!DOCTYPE html>
<html oncontextmenu="return false">
<head>

</head>
<body class="bgGray0">
    <div class="container-fluid">
        <div class="row minH100">
            <div class="col-lg-6">
                <div class="midDiv padP5 txtCenter">
                    <h1 class="txtLeft ssh1" style="color: #18477e;">เว็บ NodeloginX</h1>
                    <h4 class="txtLeft ssh4" style="color: #18477e;">TEMPORARY</h4>

                    <div>
                        <fieldset class="txtLeft fieldbox">
                            <legend><%= user_id %></legend>
                            <p class="txtCenter"><%= message %></p>
                            <br>
                            <a href="/checklogin" class="btn_Second br50 block100p marb15">เข้าสู่ระบบ</a>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>